*.class
*.jar
*.lst
*.original
target/*
*.metadata/*
*.iml
.project
.settings/
.classpath
.factorypath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.springframework.ide.eclipse.prefs
.DS_Store
.idea
eCommerce-api.iml
/target/
bin/